<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.agh.mapnote_androidapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"  />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MapNote_AndroidApp">
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".EditDeleteNoteActivity"
            android:exported="false" />
        <activity
            android:name=".ViewNotesActivity"
            android:exported="false"
            android:label="@string/viewNotesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddNoteActivity"
            android:exported="false"
            android:label="@string/addNoteActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>